body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    animation: changeBG 3s forwards;
    margin-top: 5%;
    margin-bottom: 5%;
}

@keyframes changeBG{
    0%{
        background-color: black;
    }
    50%{
        background-color: black;
    }
    100%{

        background: url(bg3.jpg);
        background-size: cover;
    }
}

@keyframes entrance{
    from{
        margin-top: 15%;
    }
    tp{
        margin-top: 2%;
    }
}

@keyframes invisible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes dynamique{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.06);
    }
    100%{
        transform: scale(1);
    }
}

div{
    border: 2px solid #FAC921;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: auto;
    width: 60%;
    animation: entrance 2s ease-in-out;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
    animation: entrance 2s ease-in-out, dynamique 3s infinite ease-in-out;
}

p{
    margin: 5%;
    font-size: 20px;
    font-style: italic;
}

strong{
    color: #FAC921;
    font-size: 21px;
}

@media screen and (max-width: 768px) {
    div{
        width: 90%;
    }
}
