body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    animation: changeBG 3s forwards;
}

@keyframes changeBG{
    0%{
        background-color: black;
    }
    50%{
        background-color: black;
    }
    100%{

        background: url(bg0.jpg);
        background-size: cover;
    }
}

@keyframes entrance{
    from{
        margin-top: 15%;
    }
    tp{
        margin-top: 2%;
    }
}

@keyframes invisible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes dynamique{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.06);
    }
    100%{
        transform: scale(1);
    }
}

h1{
    color: #FAC129;
    animation: invisible 2s ease-in-out, dynamique 3s infinite ease-in-out;
}

div{
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    animation: entrance 2s ease-in-out;
}

.btn {
    margin: 2% auto 2% auto;
    width: 80%;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}
  
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
  
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
  
.btn::after {
    background-color: #fff;
}
  
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 12px;
    }
    .btn{
        width: 90%;
        font-size: 12px;
    }
}
  