body {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: changeBG 5s forwards;
}
@keyframes changeBG{
    0%{
        background-color: black;
    }
    50%{
        background-color: black;
    }
    100%{

        background: url(bg0.jpg);
        background-size: cover;
    }
}

.welcome{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
    animation: bienvenue 2s ease-in-out;
}

@keyframes bienvenue{
    0%{ 
        color: rgba(124, 124, 124, 0.911);
        height: 100vh;
    }
    100%{
        color: #fff;
        height: 50vh;
    }
}

.ligne{
    margin-top: 5%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    animation: monAnimation 2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.welcome.ligne{
    margin-right: 10px;
}

@keyframes monAnimation{
    0%{ 
        color: #7a7d7e;
        opacity: 0;
    }
    100%{
        color: #fff;
        opacity:1;
    }
}

.header-group {
    margin-top: 5%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.welcome,
.ligne {
    margin: 0;
}

.ligne2{
    font-size: 20px;
    color: #fff;
    margin-left: 2vw;
    font-family: Times, Times New Roman, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -16vh;
    animation: monAnimation2 4s ease-in-out,dynamique 6s infinite ease-in-out;
}

@keyframes monAnimation2{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@keyframes dynamique {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    animation: monAnimation2 4s ;
    z-index: 10;
}

.boutton{
    margin: 2% 3% auto auto;
    width: 170px;
    height: 52px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    animation: buttonAnimation 4s ease-in-out;
}

.boutton:active {
    scale: 0.92;
}

.boutton:hover {
    font-size: 16.8px;
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}
a{
    text-decoration: none;
}

@keyframes buttonAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 880px) {
    .welcome::after {
        content: "     TO OUR WEBSITE" ; /* Ajouter le texte du sous-titre */
        font-size: 19px;
        margin-left: 5px;
    }
    .welcome{
        font-size: 19px;
    }
    .ligne {
        display: none; /* Cacher le sous-titre */
    }
    .ligne2{
        font-size: 12px;
    }
    h1{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -18vh;
    }
    .navbar{
        flex-direction: column;
        margin-top: 30vh;
    }
    .boutton{
        width: 60vw;
        margin-bottom: 5%;
    }
   
    @keyframes dynamique {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }
    
}

